* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.main-cont {
    display: flex;
    justify-content: flex-start;
}

/* BARRA IZQUIERDA - CHATS */
#chat {
    flex-basis: 22%;
    display: flex;
    flex-direction: column;
}

/* PRIMERA FILA - MARIA */
#maria-profile {
    border: 1px solid #E8EBE4;
    padding: 14px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#maria-pic {
    border: 2px solid #E8EBE4;
    width: 50px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: contain;
    flex-basis: 5%;
}

.maria-profile-text {
    flex-basis: 60%;
}

.maria-profile-text h3 {
    font-size: 20px;
    font-weight: 400;
}

.maria-profile-text p {
    font-size: 12px;
    color: #A9ADB5;
}

.logos {
    flex-basis: 30%;
    color: #959797;
    display: flex;
    justify-content: end;

}

.logos :last-child {
    margin-left: 20px;
}

/* 2A FILA - BOTÓN NUEVO CHAT */
.btn {
    padding: 50px 0px;
    border: 1px solid #E8EBE4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn button {
    border: none;
    background-color: #A491D2;
    color: white;
    font-size: 20px;
    height: 60px;
    width: 65%;
}

/* 3A A 10A FILA - FILAS DE CONTACTOS */
.chat-contact {
    padding: 16px;
    border: 1px solid #E8EBE4;
    flex-basis: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-contact img {
    width: 70px;
    border: 2px solid #E8EBE4;
    border-radius: 50%;
    object-fit: contain;
    flex-basis: 5%;
    margin-right: 10px;
}

.chat-contact-text {
    flex-basis: 95%;
}

.chat-contact-text h3 {
    font-size: 20px;
    font-weight: 400;
}

/* BARRA DERECHA FONDO-MANO */
#fondo {
    background-color: #F8F8F8;
    flex-basis: 78%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#img-manos {
    display: flex;
    justify-content: center;
}

#img-manos img {
    width: 60%;
    border-radius: 5%;
}

.fondo-texto {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.fondo-texto h1 {
    color: #282D2E;
    text-align: center;
    margin-top: 30px;
    flex-basis: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 400;
}

.fondo-texto h4 {
    color: #282D2E;
    text-align: center;
    flex-basis: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 25px;
}

.fondo-texto span {
    font-weight: 700;
}